<h1> Scan Network </h1>

<form action='/network_scans/new'>
<button type='submit'>Perform Scan</button>
</form>

<button class="btn btn-primary" type="button" disabled>
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span class="sr-only">Loading...</span>
</button>
