<h1> Scan Network </h1>

<form action='/network_scans/new', id='perform_scan_form'>
  <button id='perform_scan_button' class='btn btn-info' type='submit'>Perform Scan</button>
</form>

<script>
  $(document).ready(function() {
      $("#perform_scan_button").click(function() {
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status"
          aria-hidden="true"></span> Performing Scan...`
        );
        $("#perform_scan_form").submit();
      });
  });
</script>

