<div class="row">
  <table class='table table-hover'>
    <caption>Stored Network Devices</caption>
    <thead class='thead-light'>
      <tr>
        <th>MAC Address</th>
        <th>Name</th>
        <th>Actions</th>
      <tr>
    </thead>
    <% @network_devices.each do |network_device| %>
      <tr>
        <th><%= network_device.mac_address%></th>
        <th><%= network_device.name%></th>
        <th class='btn-group'>
          <button type='button' class='btn btn-primary'>Track</button>
          <%= link_to 'Edit', edit_network_device_path(network_device), class: 'btn btn-success' %>
          <%= button_to 'Delete', network_device, method: :delete, class: 'btn btn-danger' %>
      <tr>
    <% end %>
  </table>
</div>

